@import "tailwindcss";

:root {
  font-size: 16px;
}

@theme {
  --color-text-primary: hsl(14, 65%, 9%);
  --color-text-activate: hsl(14, 86%, 42%);
  --color-text-secondary: hsl(14, 86%, 60%);
  --color-bg-primary: hsl(20, 50%, 98%);
}
