@import "tailwindcss";

:root {
  font-size: 16px;
}

@theme {
  --color-text-title: #24110c;
  --color-text-primary: #241613;
  --color-text-secondary: #c24010;
  --color-text-tertiary: hsl(14, 25%, 72%);
  --color-text-activate: hsl(14, 86%, 42%);
  --color-bg-primary: hsl(20, 50%, 98%);
  --color-border-primary: hsl(14, 25%, 72%);

  --breakpoint-mobile: 770px;
  --breakpoint-desktop: 1050px;
  --breakpoint-large: 1280px;
}

.noItems {
  color: #86625a;
  border-color: #86625a;
}

.addButton {
  @apply w-44 rounded-4xl;
  height: 2.75rem;
  z-index: 10;
  position: absolute;
  bottom: -8%;
  right: 13.3%;
  transition: all 0.2s ease-in-out;
}

.add:hover {
  border-color: var(--color-text-activate);
  color: var(--color-text-activate);
}

.add:active {
  border-color: var(--color-text-activate);
  color: var(--color-bg-primary);
}

.add:focus {
  outline: none;
  border-color: var(--color-text-activate);
  color: var(--color-text-activate);
}

.indeButton {
  @apply rounded-full h-5 w-5 flex justify-center items-center border-white border-2 cursor-pointer text-white;
  transition: all 0.1s ease-in;
}

.indeButton:hover {
  @apply bg-white text-text-activate;
}

.modal-layout {
  @apply fixed w-screen h-screen inset-0 z-20 bg-black opacity-50;
}

.modal-content {
  @apply fixed top-1/8 z-30;
  background-color: white;
  min-height: 38rem;
}

.scrollable {
  scrollbar-width: thin;
  scrollbar-color: #fdf4ff #fdf4ff;
}
